.table {
  display: grid;
  grid-template-columns: 3fr repeat(21, 1fr);
  gap: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  cursor: pointer;
}

.labelCol {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  writing-mode: vertical-rl;
  padding-bottom: 5px;
}

.labelRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.labelRow:hover {
  background-color: aqua;
}

.cell {
  overflow: visible;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.cell:hover {
  background-color: hsl(0, 0%, 15%);
  /* background-size: 100% 100%;
  transform: scale(1.5, 1.5);
  transform-origin: center;  */
}

.notEqual {
  composes: cell;
  border-style: dotted;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 75%);
}

.strict {
  composes: cell;
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 65%);
  border-color: hsl(0, 0%, 30%);
  font-weight: bold;
}

.loose {
  composes: cell;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 85%);
  border-color: hsl(0, 0%, 55%);
}


