.table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 4px;
  cursor: pointer;
}

.labelCol {
  writing-mode: vertical-rl;
  text-align: right;
  font-weight: 400;
}

.labelRow {
  text-align: right;
  padding-right: 8px;
}

.cell {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px; 
  /* text-align: center;  */
}

.notEqual {
  composes: cell;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 95%);
  border-color: hsl(0, 0%, 75%);
}

.loose {
  composes: cell;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 85%);
  border-color: hsl(0, 0%, 55%);
}

.strict {
  composes: cell;
  color: hsl(0, 0%, 35%);
  background-color: hsl(0, 0%, 65%);
  border-color: hsl(0, 0%, 30%);
  font-weight: bold;
}
